# Node & build artifacts
node_modules/
dist/
!dist/
!dist/**
.cargo/
target/
/native/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ionify cache
.ionify/
.cache/
*.log

# TypeScript
*.tsbuildinfo

# OS junk
.DS_Store
Thumbs.db

# real projects testing Ionify
.UP-Portal-Ionify/
.test-project-client-ep/

# Playwright
test-results/
playwright-report/
